<div class="navbar">
    <a href="javascript:void(0)" onclick="openNav()">
        <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
    </a>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
        <nav class="">
            <div onclick="closeNav()">
                <div class="sidebar-back text-end"><i class="fa fa-angle-right pe-2" aria-hidden="true"></i> برگشت</div>
            </div>
            <ul id="sub-menu" class="sm pixelstrap sm-vertical sm-rtl" data-smartmenus-id="17043911162921445">
                <li class="mega"><a href="#" class="has-submenu" id="sm-16916187646559724-1" aria-haspopup="true" aria-controls="sm-16916187646559724-2" aria-expanded="false">موبایل, کامپیوترها<span class="sub-arrow"></span><span class="sub-arrow"></span><span class="sub-arrow"></span></a>
                    <ul class="mega-menu vertical-mega-menu sm-nowrap" id="sm-16916187646559724-2" role="group" aria-hidden="true" aria-labelledby="sm-16916187646559724-1" aria-expanded="false" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 300px; margin-top: -61px;">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-4 mega-box">
                                        <div class="link-section">
                                            <div class="demo">
                                                <div class="menu-title">
                                                    <h6>الکترونیک<span class="according-menu"></span></h6>
                                                </div>
                                                <div class="menu-content" style="">
                                                    <ul>
                                                        <li><a target="_blank" href="#">تلفن های همراه</a></li>
                                                        <li><a target="_blank" href="#">تلویزیون ها</a></li>
                                                        <li><a target="_blank" href="#">یخچال</a></li>
                                                        <li><a target="_blank" href="#">aدستگاه های صوتی</a></li>
                                                        <li><a target="_blank" href="#">اسپیلت</a></li>
                                                        <li><a target="_blank" href="#">لپتاپ &amp; کامپیوتر</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 mega-box">
                                        <div class="link-section">
                                            <div class="demo">
                                                <div class="menu-title">
                                                    <h6>موبایل<span class="according-menu"></span></h6>
                                                </div>
                                                <div class="menu-content" style="">
                                                    <ul>
                                                        <li><a target="_blank" href="#">تازه رسیده ها</a></li>
                                                        <li><a target="_blank" href="#">پرفروش</a></li>
                                                        <li><a target="_blank" href="#">تجارت</a></li>
                                                        <li><a target="_blank" href="#">پیش سفارش</a></li>
                                                        <li><a target="_blank" href="#">فروش</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 mega-box">
                                        <div class="link-section">
                                            <div class="demo">
                                                <div class="menu-title">
                                                    <h6>کامپیوترها<span class="according-menu"></span></h6>
                                                </div>
                                                <div class="menu-content" style="">
                                                    <ul>
                                                        <li><a target="_blank" href="#">رایانه های شخصی</a></li>
                                                        <li><a target="_blank" href="#">لپ تاپ</a></li>
                                                        <li><a target="_blank" href="#">تجهیزات جانبی</a></li>
                                                        <li><a target="_blank" href="#">رایانه های شخصی بازی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="has-submenu" id="sm-16916187646559724-3" aria-haspopup="true" aria-controls="sm-16916187646559724-4" aria-expanded="false">لوازم خانگی, الکترونیک<span class="sub-arrow"></span><span class="sub-arrow"></span><span class="sub-arrow"></span></a>
                    <ul id="sm-16916187646559724-4" role="group" aria-hidden="true" aria-labelledby="sm-16916187646559724-3" aria-expanded="false" class="sm-nowrap" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 300px; margin-top: -43px;">
                        <li><a href="#">تلویزیون ها</a></li>
                        <li><a href="#">یخچال</a></li>
                        <li><a href="#">کامپیوترها</a></li>
                        <li><a href="#" class="has-submenu" id="sm-16916187646559724-5" aria-haspopup="true" aria-controls="sm-16916187646559724-6" aria-expanded="false">بیشتر<span class="sub-arrow"></span><span class="sub-arrow"></span><span class="sub-arrow"></span></a>
                            <ul id="sm-16916187646559724-6" role="group" aria-hidden="true" aria-labelledby="sm-16916187646559724-5" aria-expanded="false">
                                <li><a href="#">بلندگوها</a></li>
                                <li><a href="#">شستشو</a></li>
                                <li><a href="#">لپ تاپ ها</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="has-submenu" id="sm-16916187646559724-7" aria-haspopup="true" aria-controls="sm-16916187646559724-8" aria-expanded="false">مد مردانه<span class="sub-arrow"></span><span class="sub-arrow"></span><span class="sub-arrow"></span></a>
                    <ul id="sm-16916187646559724-8" role="group" aria-hidden="true" aria-labelledby="sm-16916187646559724-7" aria-expanded="false" class="sm-nowrap" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 300px; margin-top: -43px;">
                        <li><a href="#">لباس هندی</a></li>
                        <li><a href="#">لباس غربی</a></li>
                        <li><a href="#">لباس ورزشی</a></li>
                    </ul>
                </li>
                <li><a href="#" class="has-submenu" id="sm-16916187646559724-9" aria-haspopup="true" aria-controls="sm-16916187646559724-10" aria-expanded="false">مد زنانه<span class="sub-arrow"></span><span class="sub-arrow"></span><span class="sub-arrow"></span></a>
                    <ul id="sm-16916187646559724-10" role="group" aria-hidden="true" aria-labelledby="sm-16916187646559724-9" aria-expanded="false" class="sm-nowrap" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 300px; margin-top: -43px;">
                        <li><a href="#">جواهرات مد</a></li>
                        <li><a href="#">کلاه و کلاه</a></li>
                        <li><a href="#">جواهرات گرانبها</a></li>
                        <li><a href="#" class="has-submenu" id="sm-16916187646559724-11" aria-haspopup="true" aria-controls="sm-16916187646559724-12" aria-expanded="false">بیشتر..<span class="sub-arrow"></span><span class="sub-arrow"></span><span class="sub-arrow"></span></a>
                            <ul id="sm-16916187646559724-12" role="group" aria-hidden="true" aria-labelledby="sm-16916187646559724-11" aria-expanded="false">
                                <li><a href="#">گردنبندها</a></li>
                                <li><a href="#">گوشواره</a></li>
                                <li><a href="#">پوشیدن مچ دست</a></li>
                                <li><a href="#">کمربندها &amp; بیشتر</a></li>
                                <li><a href="#">پوشیدنی</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">خانه، آشپزخانه، حیوانات خانگی</a>
                </li>
                <li><a href="#" class="has-submenu" id="sm-16916187646559724-13" aria-haspopup="true" aria-controls="sm-16916187646559724-14" aria-expanded="false">زیبایی، سلامتی، مواد غذایی<span class="sub-arrow"></span><span class="sub-arrow"></span><span class="sub-arrow"></span></a>
                    <ul id="sm-16916187646559724-14" role="group" aria-hidden="true" aria-labelledby="sm-16916187646559724-13" aria-expanded="false" class="sm-nowrap" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 300px; margin-top: -43px;">
                        <li><a href="#">آرایش</a></li>
                        <li><a href="#">مراقبت از پوست</a></li>
                        <li><a href="#">زیبایی</a></li>
                        <li><a href="#">بیشتر</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">ورزش ها, کیف ها, بار مسافر</a>
                </li>
                <li><a href="#">اسباب بازی, محصولات کودک</a>
                </li>
                <li><a href="#">کتاب ها</a>
                </li>
            </ul>
        </nav>
    </div>
</div>