{% load static %}
<footer class="footer-3">
    <div class="subscribe-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="subscribe-content">
                        <h4> <i class="fa fa-envelope-o" aria-hidden="true"></i>خبرنامه</h4>
                        <p>اگر می خواهید از یک گذرگاه لورماستفاده کنید که نیاز دارید. </p>
                        <form class="form-inline subscribe-form">
                            <div class="form-group mb-0">
                                <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="ایمیل...">
                            </div>
                            <button type="submit" class="btn btn-solid">عضویت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="instagram section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="instagram-banner">
                        <h5>ما را دنبال کنید <span>#فروشگاه بزرگ</span></h5>
                    </div>
                    <div class="slide-10 no-arrow slick-instagram">
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta1.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta2.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta3.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta4.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta5.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta6.jpeg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/7_1.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta7.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta8.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta9.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta10.jpg" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{% static "images/layout-12-insta11.html" %}" alt class=" img-fluid">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-section">
        <div class="container">
            <div class="row border-cls section-b-space section-t-space">
                <div class="col-xl-4 col-lg-12 about-section">
                    <div class="footer-title footer-mobile-title">
                        <h4>درباره ما</h4>
                    </div>
                    <div class="footer-content">
                        <div class="footer-logo">
                            <img src="{% static "images/layout-12-footer.jpg" %}" alt>
                        </div>
                        <p>این یک واقعیت ثابت شده است که خواننده با محتوای قابل خواندن یک صفحه حواسش پرت می شود.</p>
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-12">
                    <div class="row height-cls">
                        <div class="col-lg-3 footer-link">
                            <div>
                                <div class="footer-title">
                                    <h4>حساب من</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">درباره ما</a></li>
                                        <li><a href="#">تماس با ما</a></li>
                                        <li><a href="#">شرایط و ضوابط</a></li>
                                        <li><a href="#">بازگشت و مبادله</a></li>
                                        <li><a href="#">خرید ایمن</a></li>
                                        <li><a href="#">حمل و نقل و تحویل</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 footer-link">
                            <div>
                                <div class="footer-title">
                                    <h4>دسترسی سریع</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">محل فروشگاه</a></li>
                                        <li><a href="#">حساب من</a></li>
                                        <li><a href="#">رهگیری سفارش</a></li>
                                        <li><a href="#">راهنما اندازه</a></li>
                                        <li><a href="#">سبد من</a></li>
                                        <li><a href="#">سوالات متداول</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% include "contact/contact_to_us.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>