{% load static %}

<section class>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 logo no-border">
                <h2 class="title">برند قابل اعتماد</h2>
                <div class="logo-3 border-logo">
                    <div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand1.png" %}" class=" img-fluid" alt>
                        </div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand2.png" %}" class=" img-fluid" alt>
                        </div>
                    </div>
                    <div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand3.png" %}" class=" img-fluid" alt>
                        </div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand4.png" %}" class=" img-fluid" alt>
                        </div>
                    </div>
                    <div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand5.png" %}" class=" img-fluid" alt>
                        </div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand6.png" %}" class=" img-fluid" alt>
                        </div>
                    </div>
                    <div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand7.png" %}" class=" img-fluid" alt>
                        </div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand8.png" %}" class=" img-fluid" alt>
                        </div>
                    </div>
                    <div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand2.png" %}" class=" img-fluid" alt>
                        </div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand3.png" %}" class=" img-fluid" alt>
                        </div>
                    </div>
                    <div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand4.png" %}" class=" img-fluid" alt>
                        </div>
                        <div class="logo-img">
                            <img src="{% static "images/layout-12-brand5.png" %}" class=" img-fluid" alt>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1">
                <div class="app-section">
                    <div class="img-block">
                        <img src="{% static "images/3_5.jpg" %}" class=" img-fluid" alt>
                    </div>
                    <div class="app-content">
                        <div>
                            <h5>دانلود اپلیکیشن بیگ مارکت</h5>
                            <div class="app-buttons">
                                <a href="#"><img src="{% static "images/app-storw.png" %}" class=" img-fluid" alt></a>
                                <a href="#"><img src="{% static "images/play-store.png" %}" class=" img-fluid" alt></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>