{% load static %}
<section class="category category-classic bg-none absolute-banner">
    <div class="container absolute-bg">
        <div class="slide-6 no-arrow">
            <div>
                {% for c in category %}
                <div class="category-wrapper">
                    <div class="img-block">
                        <a href="#"><img src="{% static "images/layout-12-1.png" %}" alt class=" img-fluid"></a>
                    </div>
                    <div class="category-title">
                        <a href="#"><h5>{{ c.title }}</h5></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

