{% load static %}
<div class>
    <section class="p-0 full-slider shadow-home">
        <div class="slide-1 home-slider home-70">
            <div>
                <div class="home p-left">
                    <img src="{% static "images/layout20.jpg" %}" class="bg-img " alt>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h5>همه محصولات</h5>
                                        <h1>خرید مواد غذایی</h1>
                                        <h4>اعتبار تا 25 مرداد</h4>
                                        <a href="#" class="btn btn-solid">خرید کنید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="home p-left">
                    <img src="{% static "images/layout-12-19.jpg" %}" class="bg-img " alt>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h5>همه محصولات</h5>
                                        <h1>خرید مواد غذایی</h1>
                                        <h4>اعتبار تا 25 مرداد</h4>
                                        <a href="#" class="btn btn-solid">خرید کنید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>