{% extends "base/base.html" %}

{% block title %}
    <tite></tite>
{% endblock title %}

{% block content %}
<div class="login_box">
    <form class="" method='post' action=''>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-6 mt-5">
                <div class="form-account-row">
                    {{ form }}
                    <button class='btn big_btn btn-main-masai mt-3' type='submit'>ارسال کد</button>
                </div>
            </div>
        </div>
    </form>


</div>
{% endblock content %}