{% extends "base/base.html" %}

{% block title %}
    <title>سلام {{ request.user.get_full_name }}</title>
{% endblock title %}

{% block content %}
<main class="profile-user-page default space-top-30">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <div class="col-lg-12">
                        <header class="card-header">
                            <h3 class="card-title"><span>اطلاعات حساب کاربری</span></h3>
                        </header>
                        <div class="content-section default">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">نام  :</span>
                                        <span>{{ profile.first_name }} 
</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title"> نام خانوادگی :</span>
                                        <span>
                                            {{ profile.last_name }}
                                        </span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">پست الکترونیک :</span>
                                        <span>{{ profile.email }}</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">شماره تلفن همراه:</span>
                                        <span>{{ profile.mobile_phone }}</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">روش بازگرداندن پول من :</span>
                                        <span>ﺷﻤﺎره ﺷﺒﺎ</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">شغل :</span>
                                    {% for j in jobs %}
                                        <span>{{ j.job_name }}{% if not forloop.last %},{% endif %}</span>
                                    {% endfor %}
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">تاریخ تولد :</span>
                                        <span>۱۳۷۰/۶/۱۴</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">کد ملی :</span>
                                        <span>{{ profile.nation_code }}</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">کد پستی :</span>
                                        <span>{{ profile.postal_code }}</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">تاریخ تولد  :</span>
                                        <span>{{ profile.birth_day }}</span>
                                    </p>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="{% url "accounts:profile_edit" request.user.id %}" class="btn btn-main-masai big_btn">
                                        ویرایش
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <header class="card-header">
                            <h3 class="card-title"><span>اطلاعات حقوقی</span></h3>
                        </header>
                        <div class="content-section default">
                            <div class="row">
                              <div class="col-lg-12">
                                  <p>این گزینه برای کسانی است که نیاز به خرید سازمانی (با فاکتور رسمی و گواهی ارزش‌افزوده) دارند.</p>
                              </div>
                                <div class="col-12 text-center">
                                    <a href="edit-profile.html" class="btn btn-main-masai big_btn">
                                        ویرایش اطلاعات حقوقی
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="profile-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-1">
                <div class="profile-card-1">
                    <!--image-->
                    <div class="img">
                        <img src="{{ profile.image.image.url }}">
                    </div>
                    <a class="view-more" href="#" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                    <div class="modal-share modal-width-custom modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">تغییر پروفایل</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="profile-avatars default text-center">
                                        <li>
                                            <img class="profile-avatars-item" src="assets/img/profile/1.png">
                                        </li>
                                        <li>
                                            <img class="profile-avatars-item" src="assets/img/profile/2.png">
                                        </li>
                                        <li>
                                            <img class="profile-avatars-item" src="assets/img/profile/3.png">
                                        </li>
                                        <li>
                                            <img class="profile-avatars-item" src="assets/img/profile/4.png">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--text-->
                    <div class="mid-section">
                        <div class="name">{{ profile.get_full_name }}</div>
                        <div class="description">
                            <a href="#" class="btn btn-main-masai">افزایش موجودی</a>
                            <a href="#" class="btn btn-second-masai">نگار کلاب</a>
                        </div>
                        <div class="line"></div>
                        <div class="stats">
                            <div class="stat">
                                2
                                <div class="subtext">سفارش جاری</div>
                            </div>
                            <div class="stat">
                                68
                                <div class="subtext">تحویل داده</div>
                            </div>
                            <div class="stat">
                                15
                                <div class="subtext">مرجوع شده</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="responsive-profile-menu show-md location_me">
                    <div class="btn-group">
                        <button type="button" class="btn btn-second-masai dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon"></i>
                            حساب کاربری شما
                        </button>
                        <div class="dropdown-menu dropdown-menu-right text-right">
                            <a href="order-delivered.html" class="dropdown-item  ">
                                <i class="fa fa-cart-arrow-down colormain" aria-hidden="true"></i>
                                تحویل داده شده
                            </a>
                            <a href="order-current.html" class="dropdown-item ">
                                <i class="fa fa-cart-arrow-down colormain" aria-hidden="true"></i>   سفارش جاری
                            </a>
                            <a href="order-cancelled.html" class="dropdown-item">
                                <i class="fa fa-times colormain" aria-hidden="true"></i>
                                لغو شده
                            </a>
                            <a href="orders-return.html" class="dropdown-item">
                                <i class="fa fa-thumbs-down colormain" aria-hidden="true"></i>
                                مرجوع محصول
                            </a>

                            <a href="profile-favorites.html" class="dropdown-item">
                                <i class="fa fa-bookmark colormain" aria-hidden="true"></i>
                                لیست های من
                            </a>

                            <a href="order-address.html" class="dropdown-item">
                                <i class="fa fa-map icon-icon colormain" aria-hidden="true"></i>
                                آدرس ها
                            </a>

                            <a href="order-message.html" class="dropdown-item">
                                <i class="fa fa-bell colormain" aria-hidden="true"></i>
                                پیغام ها
                            </a>

                            <a href="profile.html" class="dropdown-item active-menu">
                                <i class="fa fa-user-large colormain"></i>
                                پروفایل
                            </a>

                            <a href="edit-profile.html" class="dropdown-item">
                                <i class="fa fa-pencil colormain" aria-hidden="true"></i>
                                ویرایش اطلاعات
                            </a>

                            <a href="password-update.html" class="dropdown-item">
                                <i class="fa fa-shield colormain" aria-hidden="true"></i>
                                امنیت و تغییر رمز
                            </a>

                           
                        </div>
                    </div>
                </div>
                <div class="profile-menu ">
                    <ul class="profile-menu-items">
                        <li>
                            <a href="order-delivered.html" class="dropdown-item ">
                                <i class="fa fa-cart-arrow-down colormain" aria-hidden="true"></i>
                                تحویل داده شده
                            </a>
                        </li>
                        <li>
                            <a href="order-current.html" class="dropdown-item ">
                                <i class="fa fa-cart-arrow-down colormain" aria-hidden="true"></i>    سفارش جاری
                            </a>
                        </li>
                        <li>
                            <a href="order-cancelled.html" class="dropdown-item">
                                <i class="fa fa-times colormain" aria-hidden="true"></i>
                                لغو شده
                            </a>
                        </li>
                        <li>
                            <a href="orders-return.html" class="dropdown-item">
                                <i class="fa fa-thumbs-down colormain" aria-hidden="true"></i>
                                مرجوع محصول
                            </a>
                        </li>
                        <li>
                            <a href="profile-favorites.html" class="dropdown-item">
                                <i class="fa fa-bookmark colormain" aria-hidden="true"></i>
                                لیست های من
                            </a>
                        </li>
                        <li>
                            <a href="order-address.html" class="dropdown-item">
                                <i class="fa fa-map icon-icon colormain" aria-hidden="true"></i>
                                آدرس ها
                            </a>
                        </li>
                        <li>
                            <a href="order-message.html" class="dropdown-item">
                                <i class="fa fa-bell colormain" aria-hidden="true"></i>
                                پیغام ها
                            </a>
                        </li>
                        <li>
                            <a href="profile.html" class="dropdown-item active">
                                <i class="fa fa-user-large colormain"></i>
                                پروفایل
                            </a>
                        </li>
                        <li>
                            <a href="edit-profile.html" class="dropdown-item">
                                <i class="fa fa-pencil colormain" aria-hidden="true"></i>
                                ویرایش اطلاعات
                            </a>
                        </li>
                        <li>
                            <a href="password-update.html" class="dropdown-item">
                                <i class="fa fa-shield colormain" aria-hidden="true"></i>
                                امنیت و تغییر رمز
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}