{% extends "base/base.html" %}

{% block title %}
    <title>حساب {{ request.user }}</title>
{% endblock title %}

{% block content %}
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="title pt-0">اطلاعات شخصی</h3>
                <form class="theme-form">
                    <div class="row">
                        <div class="col-md-6">
                            <span for="name">نام</span>
                            <p>{{ profile.first_name }}</p>
                        </div>
                        <div class="col-md-6">
                            <span for="name">نام خانوادگی</span>
                            <p>{{ profile.last_name }}</p>
                        </div>
                        <div class="col-md-6">
                            <span for="name">ایمیل</span>
                            <p>{{ profile.email }}</p>
                        </div>
                        <div class="col-md-6">
                            <span for="name">درباره خودت</span>
                            <p>{{ profile.bio }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="title pt-0">آدرس حمل و نقل</h3>
                <form class="theme-form">
                    <div class="row">
                        <div class="col-md-6">
                            <span for="name">آدرس کامل</span>
                           <p>{{ profile.address }}</p>
                        </div>
                        <div class="col-md-6">
                            <span for="name">شماره موبایل</span>
                           <p>{{ profile.mobile_phone }}</p>
                        </div>
                        <div class="col-md-6">
                            <span for="name">اخرین ورود به حساب</span>
                           <p>{{ profile.last_login }}</p>
                        </div>
                        <a class="btn btn-sm btn-solid col-md-3" href='{% url "accounts:profile_edit" request.user.id %}'>ویرایش اطلاعات</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock  %}