{% load static %}
<section class="blog-section grey-bg section-b-space ratio3_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="title">وبلاگ</h2>
                <div class="slide-3">
                    <div>
                        <a href="#">
                            <div class="blog-image">
                                <img src="{% static "images/layout-12-blog1.jpg" %}" class=" img-fluid bg-img" alt>
                            </div>
                            <div class="blog-info">
                                <div>
                                    <h5>۲۵ تیر ۱۴۰۲</h5>
                                    <p>گاهی اوقات از روی عمد طنز ایجاد می شود. متن ساختگی</p>
                                    <h6>نویسنده: ادمین, ۰ دیدگاه</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="blog-image">
                                <img src="{% static "images/layout-12-blog2.jpg" %}" class=" img-fluid bg-img" alt>
                            </div>
                            <div class="blog-info">
                                <div>
                                    <h5>۲۵ تیر ۱۴۰۲</h5>
                                    <p>گاهی اوقات از روی عمد طنز ایجاد می شود. متن ساختگی</p>
                                    <h6>نویسنده: ادمین, ۰ دیدگاه</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="blog-image">
                                <img src="{% static "images/layout-12-blog3.jpg" %}" class=" img-fluid bg-img" alt>
                            </div>
                            <div class="blog-info">
                                <div>
                                    <h5>۲۵ تیر ۱۴۰۲</h5>
                                    <p>گاهی اوقات از روی عمد طنز ایجاد می شود. متن ساختگی</p>
                                    <h6>نویسنده: ادمین, ۰ دیدگاه</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="blog-image">
                                <img src="{% static "images/layout-12-blog4.jpg" %}" class=" img-fluid bg-img" alt>
                            </div>
                            <div class="blog-info">
                                <div>
                                    <h5>۲۵ تیر ۱۴۰۲</h5>
                                    <p>گاهی اوقات از روی عمد طنز ایجاد می شود. متن ساختگی</p>
                                    <h6>نویسنده: ادمین, ۰ دیدگاه</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="blog-image">
                                <img src="{% static "images/layout-12-blog1.jpg" %}" class=" img-fluid bg-img" alt>
                            </div>
                            <div class="blog-info">
                                <div>
                                    <h5>۲۵ تیر ۱۴۰۲</h5>
                                    <p>گاهی اوقات از روی عمد طنز ایجاد می شود. متن ساختگی</p>
                                    <h6>نویسنده: ادمین, ۰ دیدگاه</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="review-box">
                    <h2 class="title">دیدگاه کاربران</h2>
                    <div class="slide-1">
                        <div>
                            <div class="review-content">
                                <div class="avtar">
                                    <img src="{% static "images/ayout-12-customer.jpg" %}" alt="women">
                                </div>
                                <h5>محسن دادار</h5>
                                <h6>طراح</h6>
                                <p>انواع مختلفی از قسمت‌های لورم اپسوم موجود است، اما اکثر آنها دچار تغییر متن ساختگی شده‌اند</p>
                            </div>
                        </div>
                        <div>
                            <div class="review-content">
                                <div class="avtar">
                                    <img src="{% static "images/ayout-12-customer.jpg" %}" alt="women">
                                </div>
                                <h5>محسن دادار</h5>
                                <h6>طراح</h6>
                                <p>انواع مختلفی از قسمت‌های لورم اپسوم موجود است، اما اکثر آنها دچار تغییر متن ساختگی شده‌اند</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>