{% extends "base/extends.html" %}

{% block ex_content %}
    {% for c in contact_to_us %}
        <div class="col-lg-3 footer-link">
            <div>
                <div class="footer-title">
                    <h4>تماس با ما</h4>
                </div>
                <div class="footer-content">
                    <ul class="contact-list">
                        <li><i class="fa fa-map-marker">رزرو غذا</i></li>
                            شماره تماس ثابت: {{ c.landing_phone }}</li>
                        <li><i class="fa fa-phone"></i>شماره تماس: {{ c.mobile_phone }}</li>
                        <li><i class="fa fa-envelope-o"></i>ایمیل : {{ c.email }}</li>
                        <li><i class="fa fa-fax"></i>فکس: {{ c.fax }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock ex_content %}

