{% extends "base/base.html" %}

{% load static %}

{% block title %}
    <title>همه محصولات</title>
{% endblock title %}

{% block content %}
<div class="tab-content default text-center">
    <div class="tab-pane active" id="suggestion" role="tabpanel" aria-expanded="true">
            <div class="row listing-items">
                {% for p in all_products %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-12 list_search_p ">
                    <div class="product-box">
                        <div class="product-seller-details product-seller-details-item-grid">
                            <span class="search_prod_icon">
                                <i class="fa fa-search search_icon_search" aria-hidden="true"></i>
                                <i class="fa fa-heart search_icon_like" aria-hidden="true"></i>
                            </span>
                           

                            <span class="search_prod_btn">
                                <i class="fa fa fa-cart-arrow-down search_icon_cart" aria-hidden="true"></i>
                            </span>
                        </div>
                        <a class="product-box-img" href="single-product.html">
                            <img src="{{ p.image.image.url }}" alt="">
                            <ul>
                                <li class="color_pro" style="background-color: #2fabd3;top: 7px;"></li>
                                <li class="color_pro" style="background-color: #4e1dac;top: 20px;"></li>
                                <li class="color_pro" style="background-color: #ff0075;top: 33px;"></li>
                            </ul>
                        </a>
                        <div class="product-box-content">
                            <div class="product-box-content-row">
                                <div class="product_title">
                                    <a href="#">
                                        {{ p.product_name }} 
                                    </a>
                                </div>
                            </div>
                            <div class="product-box-row product_price_search">
                                <div class="price">
                                    {% comment %} <del><span>72,156,000<span>تومان</span></span></del> {% endcomment %}
                                    {% comment %} <span class="discount_badge">2%</span> {% endcomment %}
                                    <ins><span>{{ p.sell_price }}<span>تومان</span></span></ins>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if page_obj.has_previous %}
    <span><a href="?page={{ page_obj.previous_page_number }}">صفحه قبلی</a></span>
{% endif %}
{% for PageNumber in page_obj.paginator.page_range %}
    <span>
        <a href="?page={{ PageNumber }}" {% if PageNumber == page_obj.number %}class="active"{% endif %}>
            {{ PageNumber }}
        </a>
    </span>
{% endfor %}
{% if page_obj.has_next %}
    <span><a href="?page={{ page_obj.next_page_number }}">صفحه بعدی</a></span>
{% endif %}




{% endblock content %}